{% if goods %}
<ul class="finded-goods">
    {% for good in goods %}
        <a class="finded-item" href="{{ path('catalog_goods_item', {goodsId: good.id}) }}" path="{{ path('catalog_goods_item', {goodsId: good.id}) }}">
            <li>
                {{ good.brand }} {{ good.article }} &nbsp {{ good.fullName }}
            </li>
        </a>
    {% endfor %}
</ul>
{% endif %}