{% for good in goods %}
    <div class="goods" path="{{ path('catalog_goods_item', {goodsId: good.id}) }}">
        <div class="goods-name">
            <a href="#">{{ good.shortName }}</a>
        </div>
        <div class="goods-information">
            <div class="goods-image">
                <img src="{{ good.photo|first.path }}">
            </div>
            <div class="goods-attributes">
                {% for attr in good.attribute %}
                <div class="attribute">
                    {{ attr.name }}: {{ attr.value }}
                </div>    
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}