    <ul class="attributes-settings">
        {% for attribute in attributes %}
        <li>
            <input class="filter-value" name="{{ attribute['attribute'].categoryAttribute.name }}" type="checkbox" id="{{ attribute['attribute'].id }}" {{ attribute['checked'] }}>
            <label for="{{ attribute['attribute'].id }}">{{ attribute['attribute'].categoryAttribute.name }}</label>
        </li>
        {% endfor %}
        <button class="save-filter">
            Сохранить
        </button>
        <button class="reset-filter" path="{{ path('reset_filters', {subcategoryId : subcategory}) }}">
            По умолчанию
        </button>
    </ul>