{% extends "CatalogFrontendBundle::main.html.twig" %}
{% block title %}
    Categories
{% endblock %}
{% block position %}
    
{% endblock %}
{% block header %}
    
{% endblock %}

{% block body %}


<div id="site-navigation">
    <a class="categories-link" href="{{ path('ajax_catalog_categories') }}" path="{{ path('ajax_catalog_categories') }}">Категории</a> 
    <span class="arrow"></span> 

    {% for link in subcategory.generateSiteMap|slice(0, subcategory.generateSiteMap|length - 1) %}
        
        <a href="{{ path('catalog_subcategories', {categoryId: link.id}) }}" path="{{ path('catalog_subcategories', {categoryId: link.id}) }}" class="subcategories-load">{{ link.name }}</a>
        <span class="arrow"></span> 
    {% endfor %}
    <a class="goods-load" href="{{ path('catalog_goods', {subcategoryId: subcategory.generateSiteMap|last.id}) }}" path="{{ path('catalog_goods', {subcategoryId: subcategory.generateSiteMap|last.id}) }}">{{ subcategory.generateSiteMap|last.name }}</a>
    <span class="arrow"></span> 
    Карточка товара
</div>
<div class="short-name">
    {{ goods.getShortName }}
</div>
<div class="long-name">
    {{ goods.getFullName }}
</div>
<div class="information">
    <div class="images">
        {% if goods.getFirstImage is defined%}
            <a href="{{ goods.getFirstImage.getPath | imagine_filter('my_image') }}" data-lightbox="{{ goods.id }}">
                <img src="{{ goods.getFirstImage.getPath | imagine_filter('my_image') }}" style="max-width: 150px;">
            </a>
        {% else %}
                <img src="" style="max-width: 150px;">
        {% endif %}
        <div class="small-images">
               {% if goods.photos is defined %}
                    {% for photo in goods.photos %}
                        <div class="small-image">
                            <a href="{{ photo.getPath  | imagine_filter('my_image')}}" data-lightbox="{{ goods.id }}">
                                <img src="{{ photo.getPath | imagine_filter('my_image') }}">
                            </a>
                        </div>
                    {% endfor %}
               {% endif %}  
        </div>
    </div>
    
    <div class="attributes">
        {% if goods.attribute is defined %}

            {% for category_id in goods.getCategoryAttributesId %}
                <div class="attribute-info">
                    <div class="attribute-name">
                        <span>{{ goods.getNameByCategoryAttribute(category_id) }}</span>
                    </div>
                    {% for attribute in goods.getAttributesByCategoryAttribute(category_id) %}
                        <div class="attribute-value">{{ attribute }}&nbsp;</div>
                    {% endfor %}
                </div>
            {% endfor %}

            {#{% for attribute in goods.getAttribute %}#}
                    {#<div class="attribute-group">{{ attribute|first.categoryAttribute.groups }}</div>#}
                    {#{% for attr in attribute %}#}
                    {#<div class="attribute-info">#}
                        {#<div class="attribute-name">#}
                            {#<span>{{attr.categoryAttribute.name}}</span>#}
                        {#</div>#}
                        {#<div class="attribute-value">#}
                            {#{{attr.value}}#}
                        {#</div>#}
                    {#</div>#}
                    {#{% endfor %}#}
            {#{% endfor %}#}

        {% endif %}
    </div>
    <style>
        .basket {
            float: right;

            background: #f2eee5;
            padding: 11px;
            height: 120px;
            font: 24px Arial, Tahoma, Helvetica, sans-serif;
            width: 150px;
        }
    </style>
    <div class="basket" id="basket">

    </div>


    <div style="clear: both;padding-bottom: 20px;"></div>
    <div style="clear: both;padding-top: 20px;display: inline-block; background: #047; color: white; padding: 5px; border-radius: 9px;">Описание</div>
    <div class="description">
        {{ goods.getDescription|raw }}
    </div>
</div>

<div class="description">
    
</div>

    <script>
       getPriceInfo("{{ goods.getShortName }}", "{{ goods.getFullName }}")

    </script>


{% endblock %}