{% extends "CatalogFrontendBundle::main.html.twig" %}
{% block title %}
    Categories
{% endblock %}
{% block position %}
    
{% endblock %}
{% block header %}

{% endblock %}

{% block body %}
    <div id="site-navigation" class="site-navigation">
        <a class="categories-link" href="{{ path('ajax_catalog_categories') }}" path="{{ path('ajax_catalog_categories') }}">Категории</a>
        <span class="arrow"></span> 
            {% for link in subcategory.generateSiteMap|slice(0, subcategory.generateSiteMap|length - 1) %}
                <a href="{{ path('catalog_subcategories', {categoryId: link.id}) }}" path="{{ path('catalog_subcategories', {categoryId: link.id}) }}" class="subcategories-load">{{ link.name }}</a>
                <span class="arrow"></span> 
            {% endfor %}
            {{ subcategory.generateSiteMap|last.name }}

        <div class="order-container">
            Сортировать по: <span class="sorting{%if order == 'brand'%} active{%endif%}" order="brand" path="{{ path('catalog_goods', {subcategoryId:subcategory.Id })}}">Названию</span> 
            <span class="sorting{%if order == 'rating'%} active{%endif%}" order="rating" path="{{ path('catalog_goods', {subcategoryId:subcategory.Id })}}">Популярности</span>
        </div>


            {#{% if all_goods|length > 10 %}#}
            <div class="goods-count"  path="{{ path('catalog_goods', {subcategoryId:subcategory.Id })}}">
                Товаров на странице: 
                <span{%if per_page == 10%} class='active'{%endif%}><a href="#">10</a></span>
                <span{%if per_page == 20%} class='active'{%endif%}><a href="#">20</a></span>
                <span{%if per_page == 50%} class='active'{%endif%}><a href="#">50</a></span>
                <span{%if per_page == 100%} class='active'{%endif%}><a href="#">100</a></span>
            </div>

            {% if goods_count > per_page %}
                <div id="pagination" class="pagination"></div>
            {% endif %}
    <div>


            {#{% endif %}#}
    </div>
    <div class="filter-container" path="{{ path('catalog_goods', {subcategoryId: subcategory.id}) }}">
        <div class="search-container">
            <div class="search-string">
                <label for="search-string">Поиск:</label>
                <input type="text" name="search-string" id="search-string" path="{{ path('find_goods_by_name', {subcategoryId: subcategory.id}) }}">
            </div>
            <div class="search-result">

            </div>
        </div>
        <label for="brand">Бренд:</label>
        <style>
            .site-hover {
                background: #f1f1f1;
                opacity: 0.5;
                position: absolute;
                width: 100%;
                z-index: 9999;
            }

            .site-navigation {
                width: 100%;
                position: relative;
            }

            .site-hover > .loader {
                position: absolute;
                left: 0px;
                right: 0px;
                margin-left: 0px;
                margin-right: 0px;
            }
            .choosen-brand {
                background: #3f3731;
                cursor: pointer;
                color: #ffffff;
                font-family: sans-serif;
                font-size: 12px;
                display: inline-block;
                padding: 3px 5px;
                border: 1px solid #000000;
                border-radius: 5px;
                margin-bottom: 3px;
            }
            .choosen-brand:hover {
                background: #005580;
            }
            .choosen {
                margin-left: 10px;
                margin-bottom: 10px;
            }
            span.one-attribute {
                color: #777777;
            }

            .ui-state-default {
                background: white !important;
                font-weight: normal !important;
                margin-left: 10px;
                color: #001f3f !important;
                padding: 2px;
                font-size: 14px !important;
                margin-bottom: 10px;
            }
        </style>
        <script>
            $(document).ready(function(){
                $("#brand").multiselect({
                    header: false
                });
            });
        </script>
        <select multiple="multiple"  id="brand" class="brand" path="{{ path('find_goods_by_brand', {subcategoryId: subcategory.id}) }}">


            <option value="all">Без фильтра</option>

            {% for brand in brands %}

                <option value="{{ brand.brand }}"
                {% if allBrands|length > 0 %}
                        {% for brandOption in allBrands %}
                            {% if brandOption != null and brandOption != 'all' and brandOption == brand.brand %}
                                selected="selected"
                            {% endif %}
                        {% endfor %}

                {% endif %}

                        >{{brand.brand}}</option>

            {% endfor %}
        </select>
        {% if allBrands|length > 0 %}
            <div class="choosen" path="{{ path('delete_brand_from_filter') }}" category="{{ subcategory.id }}">
                {% for brand in allBrands %}
                    {% if brand != null and brand != 'all' %}
                        <div class="choosen-brand" brand="{{ brand }}" id="choosen-brand">{{ brand }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% for key,attribute in attributes %}


            <label>{{ key }}:</label>
            <select class="attribute-filter" name="{{key}}">
                <option value="all">Без фильтра</option>
                {% for attr in attribute %}
                    {% if key in selectedNames and attr in selectedValues %}
                        <option selected value="{{ attr }}">{{attr}}</option>
                    {% elseif key in userAttributes and attr in userValues %}
                        <option selected value="{{ attr }}">{{attr}}</option>
                    {% else %}
                        <option value="{{ attr }}">{{attr}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endfor %}


        <div style="position: relative">
            <button class="settings-button" path="{{ path('get_filter_attributes', {subcategoryId: subcategory.id}) }}">
                Настройки
            </button>

            <button class="settings-button" category="{{ subcategory.id }}" session="{{ session }}" id="remove-filters" path="{{ path('remove_filters')}}">
                Очистить фильтр
            </button>
            <div class="filter-attributes-container" style="position: absolute;background: white; border: 1px solid black;min-width: 200px;">

            </div>
        </div>
    </div>

    <div class="goods-list" count="{{ goods_count }}">

        {% for key,good in goods %}
            
        
            <div class="goods" path="{{ path('catalog_goods_item', {goodsId: good.id}) }}" >
                <div class="goods-border">
                    <a href="{{ path('catalog_goods_item', {goodsId: good.id}) }}" class="item-load" style="position:absolute; width: 100%; height: 100%; z-index: 20"></a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <div class="admin-goods">
                            <a href="{{ path('admin_catalog_backend_goods_edit', {id:good.id}) }}" target="_blank">Редактировать</a>
                        </div>
                        <div class="admin-goods clone">
                            <a href="{{ path('admin_catalog_backend_goods_clone', {id:good.id}) }}" target="_blank">Клонировать</a>
                        </div>
                        <div class="admin-goods new">
                            <a href="{{ path('admin_catalog_backend_goods_create') }}?category={{ good.subcategory.id }}" target="_blank">Создать новый</a>
                        </div>
                    {% endif %}
                    <div class="goods-name">
                        <a href="#">{{ good.brand }} {{ good.article }}</a>
                    </div>
                    <div class="goods-information">
                        <div class="goods-image">
                            <div style="min-height: 100px;">

                                {% if good.getFirstImage is not null %}
                                    <img src="{{ good.getFirstImage.getPath | imagine_filter('my_image')}}" style="max-width: 100%;height: auto;max-height: 100px;">
                                {% endif %}
                            </div>
                            <span class="goods-rating">
                                {% set rating = (good.rating*10) %}
                                <span class="rating" style="width:{{rating}}%"></span>
                            </span>
                        </div>
                        
                        <div class="goods-attributes">
                            {#{% for attr in good.attributesSorting %}#}
                                {#{% if attr.categoryAttribute.showInList == true and attr.value %}#}
                                    {#<div class="attribute">#}

                                        {#{{ attr.categoryAttribute.name }}: {{ attr.value }}#}
                                    {#</div>    #}
                                {#{% endif %}#}
                            {#{% endfor %}#}

                                {% for category_id in good.getCategoryAttributesId %}
                                <div class="attribute">{{ good.getNameByCategoryAttribute(category_id) }} :
                                    {% for attribute in good.getAttributesByCategoryAttribute(category_id) %}
                                        <span class="one-attribute">{{ attribute }}</span>
                                    {% endfor %}
                                </div>
                                {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/catalogfrontend/js/plugin/jquery.multiselect.css') }}" />
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
        <script src="{{ asset('bundles/catalogfrontend/js/plugin/src/jquery.multiselect.js') }}" type="text/javascript"></script>


{% endblock %}