{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active">Создание товара через xml</li>
{% endblock %}

{% block content %}

<script>
    $(document).ready(function(){

    $("#form_xml").change(function(){

   var formData = new FormData($('form')[0]);
    $.ajax({
        url: '{{ path("catalog_admin_xml") }}',  //Server script to process data
        type: 'POST',
        xhr: function() {  // Custom XMLHttpRequest
            var myXhr = $.ajaxSettings.xhr();
            if(myXhr.upload){ // Check if upload property exists
                myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // For handling the progress of the upload
            }
            return myXhr;
        },
        beforeSend: function(){
            $(".message").fadeOut();
                $("#progress-body").fadeIn();
            },
        success: function(response)
        {
            $("#progress-body").fadeOut();
            $("#success").fadeIn();
            $("#items").text(response.items);
            $("#repeats").text(response.repeats);
            $("#filename").text(response.filename).attr("filename", response.filename);

        },
        error: function(e)
        {
            $("#progress-body").fadeOut();
            $("#error").fadeIn();
        },
        data: formData,

        cache: false,
        contentType: false,
        processData: false
    });

   });


       function progressHandlingFunction(e){

            if(e.lengthComputable){

                var currentValue = (e.loaded * 100)/e.total;
                $("#progress").css("width", currentValue+"%");

            }
}



        $("#upload").click(function(){
            var filename = $("#filename").attr("filename");
            $(this).fadeOut();
            $("#upload_progress").fadeIn();
            var replace;
            if("#replace:checked"){
                replace = true;
            }else{
                replace = false;
            }
            $("#replace_div").fadeOut();
            $.ajax({
                url: '{{ path("catalog_admin_xml_insert") }}',
                type: 'POST',
                data: JSON.stringify({link: filename, replace: replace}),
                success: function(response)
                {
                    var jsonString = $.parseJSON(response);
                    var iterator = 0;
                    jQuery.each(jsonString, function() {
                        iterator += 1;
                    });
                    if(iterator > 0){
                        $("#progress").css("width","0");
                        $("#progress-body").fadeIn();
                    }

                    //var formula = (iterator * 100)/1;
                    var formulaIterator = 0;
                    var notUploadedIterator = 0;

                    jQuery.each(jsonString, function() {
                        $.ajax({
                            url: '{{ path("catalog_admin_xml_fileupload") }}',  //Server script to process data
                            type: 'POST',
                            data: JSON.stringify({link: this.link['0'], filename: this.filename, directory: this.directory}),
                            success: function (answer) {
                                setTimeout(function(){
                                    if($("#progress:hidden")){
                                        $("#progress-body").fadeIn();
                                    }
                                    formulaIterator +=1;
                                    $("#uploaded_files").text(formulaIterator);
                                    var value = (formulaIterator * 100)/iterator+notUploadedIterator;

                                    if(value >= 100){
                                        $("#progress-body").fadeOut();
                                        $("#loading").text("Загрузка завершена!");
                                    }else {
                                        $("#progress").css("width", value + "%");
                                    }
                                }, 1000);
                            },
                            error: function (error) {
                                notUploadedIterator+=1;
                                $("#not_uploaded_files").text(notUploadedIterator);
                            },
                            cache: false,
                            contentType: false
                        });
                    });

                },
                error: function(e)
                {
                    console.log(e);
                },
                cache: false,
                contentType: false,
                processData: false
            });

        });
});


</script>

<div id="progress-body" style="display:none;height: 30px;width:250px;position:relative;border: 1px solid red;">
    <div id="progress" style="position: absolute;background: black; width: 1%; height: 28px; "></div>
</div>
    <div class="message" id="success" style="color: green;display: none;">XML загружен<br/>
    Файл содержит <span id="items"></span> записи<br/>
        Из которых <span id="repeats"></span> уже найдено в БД <br/>
        На диск сохранен как <span id="filename" filename=""></span><br/>
        <div id="upload_progress" style="display: none;">
            <span id="loading">Идет загрузка файлов...</span><br/>
            Файлов загружено <span id="uploaded_files">0</span><br/>
            Файлов не загружено <span id="not_uploaded_files">0</span>

        </div>
        <div id="replace_div">
        <input type="checkbox" id="replace"/> заменить товар?
        </div>
        <button id="upload">загрузить</button>
    </div>
    <div class="message" id="error" style="color: red;display: none;">XML не валидный</div>
    <div class="sonata-feeds-container">
<h3>Добавьте валидный xml</h3>
{{ form_start(form) }}
    {{ form_widget(form.xml) }} <div style="display:none;">
    {{ form_widget(form.replacement) }}{{form_label(form.replacement)}}
    {{ form_row(form.save) }}</div>
{{ form_end(form) }}

{#
        {% if stats|length > 0 %}
            Товаров добавлено: {{ stats['added'] }}<br/>
            Товаров заменено: {{ stats['replaced'] }}<br/>
            Товаров не заменено: {{ stats['not_replaced'] }}<br/>
            Невалидных товаров: {{ stats['broken'] }}<br/>
            Изображений добавлено: {{ stats['images_added'] }}<br/>
            Аттрибутов создано: {{ stats['attributes_added'] }}<br/>
            Аттрибутов не добавлено: {{ stats['attributes_not_added'] }} из которых уникальных {{ errors|length }}
        {% endif %}



        {% if errors %}
    <h3>Не удалось создать некоторые аттрибуты:</h3>
    {% for error in errors %}
         <h3> - {{ error }}</h3>
    {% endfor %}
{% endif %}


{% if id != 0 %}
         <a href="{{ path('admin_catalog_backend_goods_edit', {id:id}) }}">Ссылка на товар в админ панели</a>
{% endif %}
        #}
    </div>
{% endblock %}