<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Catalog{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/catalogfrontend/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/catalogfrontend/css/lightbox.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/catalogfrontend/css/simplePagination.css') }}" />
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="{{ asset('bundles/catalogfrontend/js/main.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/catalogfrontend/js/lightbox.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/catalogfrontend/js/jquery.simplePagination.js') }}" type="text/javascript"></script>

    </head>
    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
        
     </body>
</html>