<div class="form-group" id="">
    <label class="control-label">
        Photo
    </label>

    <div class=" sonata-ba-field sonata-ba-field-inline-table  ">


        <div id="field_container_s53f36fbbc2cdf_photo" class="field-container">
            <span id="field_widget_s53f36fbbc2cdf_photo" >
                <table class="table table-bordered" style="margin-bottom: 10px;">
                    <thead>
                        <tr>
                            <th>Удалить</th>
                            <th>
                                Номер позиции
                            </th>
                            <th>
                                Изображение товара
                            </th>
                        </tr>
                    </thead>
                    <tbody class="sonata-ba-tbody ui-sortable" id="photo-container">
                        {% if photos is defined %}
                            {% for key,photo in photos %}
                                <tr class="photo-field">
                                <td class="sonata-ba-td-s53f36fbbc2cdf_photo-_delete control-group">
                                    <div class="icheckbox_minimal" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" id="s53f36fbbc2cdf_photo_0__delete" name="s53f36fbbc2cdf[photo][0][_delete]" value="1" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                                </td>
                                <td class="sonata-ba-td-s53f36fbbc2cdf_photo-position control-group">
                                    {% set pos = photo.position %}
                                    
                                    <select name="photos[position][{{key}}]">
                                        <option {% if pos == '1' %}selected{% endif %}>1</option>
                                        <option {% if pos == '2' %}selected{% endif %}>2</option>
                                        <option {% if pos == '3' %}selected{% endif %}>3</option>
                                        <option {% if pos == '4' %}selected{% endif %}>4</option>
                                        <option {% if pos == '5' %}selected{% endif %}>5</option>
                                    </select>
                                    <td class="sonata-ba-td-photos_photo-file control-group">
                                        <input type="file" position="{{ key }}" name="photos[photo][{{key}}]" class="form-control photo-file">
                                        <img style="max-width: 100px !important;margin-top: 20px;" src="{{ photo.getPath | imagine_filter('my_image')}}">
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

            </span>


            <span id="">
                <div style="display: inline;" class="btn btn-success btn-sm btn-outline  generate-photo-field" title="Add new">
                    <i class="fa fa-plus-circle"></i>
                    Add new
                </div>
            </span>
        </div>
    </div>
</div>