<div class="col-md-12 attributes">
    <div class="box box-success">
        <div class="box-header">
            <h4 class="box-title">
                Аттрибуты
            </h4>
        </div>
        <div class="box-body">
            {% for attribute in attributes %}
                <div class="sonata-ba-collapsed-fields">
                    <div class="form-group" id="sonata-ba-field-container-{{attribute.id}}_attr">
                        <label class="control-label required" for="attr-{{attribute.id}}">
                            {{ attribute.name }} 
                            {% if attribute.validator == 'int' %}
                                (Только числовые значения)
                                <script>
                                    var varname = '#{{attribute.id}}_attr{{attribute.id}}_attr';
                                    $(varname).numeric();
                                </script>
                            {% endif %}
                        </label>
                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                            {% if attribute.validator == 'range' %}
                                {% if goods is defined %}
                                    <select id="{{attribute.id}}_attr{{attribute.id}}_attr" name="{{attribute.id}}"  class="form-control">
                                                {% for value in attribute.getAllowedValues%}
                                                    <option value="{{value}}" {% if goods.findAttribute(attribute.id) == value %}selected{% endif %}>{{value}}</option>
                                                {% endfor %}
                                    </select>
                                {% else %}
                                    <select id="{{attribute.id}}_attr{{attribute.id}}_attr" name="{{attribute.id}}"  class="form-control">
                                        {% for value in attribute.getAllowedValues%}
                                            <option value="{{value}}">{{value}}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            {% else %}
                                {% if goods is defined %}
                                    <input novalidate type="text" id="{{attribute.id}}_attr{{attribute.id}}_attr" name="{{attribute.id}}"  class="form-control" value="{{ goods.findAttribute(attribute.id) }}">
                                {% else %}
                                    <input novalidate type="text" id="{{attribute.id}}_attr{{attribute.id}}_attr" name="{{attribute.id}}"  class="form-control">
                                {% endif %}
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>