<tr class="photo-field">
    <td class="sonata-ba-td-s53f36fbbc2cdf_photo-_delete control-group">
        <div class="icheckbox_minimal" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" id="s53f36fbbc2cdf_photo_0__delete" name="s53f36fbbc2cdf[photo][0][_delete]" value="1" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
    </td>
    <td class="sonata-ba-td-s53f36fbbc2cdf_photo-position control-group">
        <select name="photos[position][{{position}}]">

            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </td>
    <td class="sonata-ba-td-photos_photo-file control-group">
        <input type="file" position="{{ position }}" name="photos[photo][{{position}}]" class="form-control photo-file">
        <img style="max-width: 100px !important;margin-top: 20px;">
    </td>
</tr>