{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}
{% block form %}

    {{ block('parentForm') }}
<script src="{{ asset('bundles/catalogadmin/js/ckeditor.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/catalogfrontend/js/numeric.js') }}"></script>
{% set queryParams = app.request.query.all %}
    {% if queryParams.category is defined%}
    <script>
        var container = '{{ form.subcategory.vars.id }}';
        $('#'+container).val({{queryParams.category}});
    </script>
    {% endif %}
    
<script>
    var subcategory = $('.subcategory').val();
    var id = '{{ object.id }}';
    if (id){
        var goods = id;
    }else{
        var goods = 0;
    }
        var route = '/Catalog/web/app_dev.php/photo/generate/'+ goods;
         $.post(route,
            {}, 
            function(response){
                $('.sonata-ba-collapsed-fields').append($(response));
                var route = '/Catalog/web/app_dev.php/attributes/generate/' + subcategory + '/' + goods;
                $.post(route,
                   {}, 
                   function(response){
                       $('.col-md-12.attributes').remove();
                       $('form .row').append($(response));
                   });     
            });     
            
            
    $(document).on('change', '.photo-file', function(){
        var file = new FormData($('form')[0]);
        var selector = $(this);
        var response = $.ajax({
            url: '/Catalog/web/app_dev.php/photo/load/'+$(this).attr("position"),  
                type: 'POST',
                data: file,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data){
                    
                   $(selector).parent('td').children('img').attr('src', data);
                  }
                });
        
    });
    
    $(document).on('click', '.generate-photo-field', function(){
        $.post('/Catalog/web/app_dev.php/photo/field/generate/' + $('.photo-field').length,
            {}, 
            function(response){
                $('#photo-container').append($(response));
            });     
    });
    
    $(document).on('change', '.subcategory', function() {

{#        var route = "{{ path('generate_attributes', {categoryName:  categoryName}) }}";#}
        var route = '/Catalog/web/app_dev.php/attributes/generate/' + $(this).val() + '/' + goods;
         $.post(route,
            {}, 
            function(response){
                $('.col-md-12.attributes').remove();
                $('form .row').append($(response));
            });     
        });
</script>

{% endblock %}
