{% extends "CatalogFrontendBundle::main.html.twig" %}
{% block title %}
    Categories
{% endblock %}
{% block position %}
    
{% endblock %}
{% block header %}
    
{% endblock %}

{% block body %}
    <div id="site-navigation">
    
    
     {% if parent is defined %} 
    <a class="categories-link" href="{{ path('ajax_catalog_categories') }}" path="{{ path('ajax_catalog_categories') }}">Категории</a> 
    <span class="arrow"></span> 

    {% for link in parent.generateSiteMap|slice(0, parent.generateSiteMap|length - 1) %}
        
        <a href="{{ path('catalog_subcategories', {categoryId: link.id}) }}" path="{{ path('catalog_subcategories', {categoryId: link.id}) }}" class="subcategories-load">{{ link.name }}</a>
        <span class="arrow"></span> 
    {% endfor %}
    {{ parent.generateSiteMap|last.name }}
    {% else %}Категории{% endif %}
</div>
    {# Прогоняем в цикле и отображем все категории вместе с субкатегориями #}
    <div class="categories-list">
        {% for category in categories %}
                <div class="category">
                    <div class="category-image">
                        <img src="{{ category.imagePath }}"/>
                    </div>
                    <div class="category-information">
                        {% if category.subcategory|length > 0 %}
                            <div class="category-name">
                                <a href="{{ path('catalog_subcategories', {categoryId: category.id}) }}" path="{{ path('catalog_subcategories', {categoryId: category.id}) }}" class='subcategories-load'>{{ category.name }}</a>
                            </div>
                            <ul class="subcategories">
                                {# Вывод субкатегорий к категории #}
                                {% for subcategory in category.subcategory %}
                                <li class="subcategory">
                                    {% if subcategory.subcategory|length > 0 %}
                                        <a href="{{ path('catalog_subcategories', {categoryId: subcategory.id}) }}" class="subcategories-load" path="{{ path('catalog_subcategories', {categoryId: subcategory.id}) }}">{{ subcategory.name }}</a>
                                    {% else %}
                                        <a href="{{ path('catalog_goods', {subcategoryId: subcategory.id}) }}" class="goods-load" path="{{ path('catalog_goods', {subcategoryId: subcategory.id}) }}">{{ subcategory.name }} ()</a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="category-name">
                                <a href="{{ path('catalog_goods', {subcategoryId: category.id}) }}" class="goods-load" path="{{ path('catalog_goods', {subcategoryId: category.id}) }}">{{ category.name }} ()</a>
                            </div>
                        {% endif %}
                    </div>
                </div> 
        {% endfor %}
    </div>
{% endblock %}