{% extends "CatalogFrontendBundle::main.html.twig" %}
{% block title %}
    Categories
{% endblock %}
{% block position %}

{% endblock %}
{% block header %}
    
{% endblock %}

{% block body %}
    <div id="site-navigation">
<a class="categories-link" href="{{ path('ajax_catalog_categories') }}" path="{{ path('ajax_catalog_categories') }}">Категории</a> <span class="arrow"></span> {{ category.name }}
</div>
    {# Прогоняем в цикле и отображем все категории вместе с субкатегориями #}
    <div class="subcategories-list">
        {% for category in subcategories %}
                <div class="category">
                    <div class="category-image">
                        <img src="{{ category.imagePath }}"/>
                    </div>
                    <div class="category-information">
                        <div class="category-name">
                            <a class="subcategories-load" href="#" path="{{ path('catalog_goods', {subcategoryId: category.id}) }}">{{ category.name }} ({{category.goods|length}})</a>
                        </div>
                    </div>
                </div> 
        {% endfor %}
    </div>
{% endblock %}