{% extends admin.getTemplate('base_list_field') %}

{% block field %}
        <div class="list-image-holder">
                <img class="list-image-scaled" src="{{ object.imagePath }}" style="width: 50px; height: 50px">
        </div>
{%  endblock %}