{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.short_name) }}
    {{ form_row(form.full_name) }}
    {{ form_row(form.description) }}
    {{form_widget(form.attribute.vars.name)|e}}
<input type='submit' value='Создать'>
{{ form_end(form) }}