{% extends admin.getTemplate('base_list_field') %}

{% block field %}
        <div class="list-image-holder">
                {% if object.getFirstImage  %}
                    <img class="list-image-scaled" src="{{ object.getFirstImage.getPath | imagine_filter('my_image')}}" style="max-width: 200px; max-height: 200px">
                {% else %}
                    <img class="list-image-scaled" src="" style="width: 50px; height: 50px">
                {% endif %}
        </div>
{%  endblock %}