/*Основные стили*/
body{
    margin: 0;
}
header{
    margin: 5px 15px;
}
.content{
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    float: left;    
    width: 90%;
}
#site-navigation{
    margin-bottom: 20px;
}
#site-navigation a{
    text-decoration: none;
}
.arrow{
    width: 7px;
    height: 8px;
    background-image: url(images/sitemap-arrow.png);
    display: inline-block;
}
/* Верхнее меню */
#navigation-menu {
	padding:0;
	margin:0;
	list-style-type:none;
	height:30px;
        display: table;
        width: 100%;
}
#navigation-menu li { 
    text-align: center;
    display:table-cell;
    border: 1px solid gray;
    border-radius: 10px 10px 0 0;
}
#navigation-menu li ul{
    border: 2px solid #329a1c;
    padding: 10px;
}
#navigation-menu li ul li{
    float: left;
    border: 0;
    border-radius: 0;
}
#navigation-menu li a {
	padding:9px 20px;
	display:block;
	color:#104889;
	text-decoration:none;
	font:14px arial, verdana, sans-serif;
}
#navigation-menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
#navigation-menu li:hover{ 
    position:relative; 
    background:white; 
    border: 2px solid #329a1c;
}
#navigation-menu li:hover ul {
	left: -1.5px;
	top:30px;
	background:white;
	padding:0px;
}
#navigation-menu li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:white;
        font-size: 12px;
}
#navigation-menu li:hover ul li a:hover 
{ 
    background:#ebf6f7; 
    border: 0;
}

#navigation-menu li:hover ul li 
{ 
    border: 0;
}

/*Категории и субкатегории*/
.categories-link{
    color: #104889;
    text-decoration: none;
}
.categories-link a:visited{
    color: #104889;
}
.category-name a{
    color: #104889;
    text-decoration: none;
}
.category-name a:visited{
    color: #104889;
}
.subcategory a:visited{
    color: #104889;
}
.subcategory a{
    text-decoration: none;
}
.categories-list{
    margin: 0;
    padding: 0;
    max-width: 720px;
}
.subcategories-list{
    max-width: 720px;
}
.subcategories-list .category{
    margin-bottom: 0;
}
.category{
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    min-width: 300px;
}
.category-information{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 10px;
}
.category-image{
    float: left;
}
.category-image img{
    max-width: 50px;
}
.subcategories{
    margin: 1px 0 0 25px;
    padding: 0;
    font-size: 13px;
}

/* Список товаров */
.goods-list{
    margin-top: 30px;
    max-width: 825px;
}
.filter-container{
    float: right;
    width: 270px;
    background: #F5F5F5;
    border: 1px solid #ECECEC;
    position: relative;
    margin-top: 30px;
}
.goods-count{
    float: left;
    margin-top: 10px;
}
.goods-count span{
    padding: 3px 4px;
    border-radius: 9px;
}
.goods-count span.active{
    background: #047;
}
span.active a{
    color: white;
}
.goods-count span a{
    text-decoration: none;   
}
.pagination{
    display: block;
    overflow: hidden;
    padding: 0 5px 5px 0;
    position: absolute;
    margin: 0;
    right: 0;
}
.goods{
    float: left;
    margin: 27px 24px 10px 0px;
    cursor: pointer;
    min-width: 320px;
    width: 40%;
    color: grey;
    padding: 10px;
    position: relative;
    min-height: 120px;
}
.goods:hover .goods-border{
    height: auto;
    background: white;
    z-index: 1000;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.goods:hover .goods-attributes{
    overflow-y: visible;
    height: auto;
}
.goods:hover .admin-goods{
    display: block;
}
.goods-image{
    float: left;
}
.goods-attributes{
    float: left;
    margin-left: 20px;
    overflow-y: hidden;
    height: 120px;
}
.goods-attributes .attribute{
    font-size: 12px;
    word-wrap: break-word;
    max-width: 220px;
}
.goods-name{
    font-size: 16px;
    margin-bottom: 11px;
    font-family: sans-serif;
}
.goods-name a{
    text-decoration: none;
    font-weight: bold;
}

.images{
    float: left;
}
.information.attributes{
    float: left;
}
.goods-border{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: transparent;
    padding-top: 20px;
}
.goods-rating{
    background: url('images/star.png') left -16px;
    height: 16px;
    width: 90px;
    display: block;
    margin: 0 0px -2px;
    display: block;
}
.rating{
    background: url('images/star.png');
    height: 16px;
    display: block;
    max-width: 100%;
}
.sorting{
    cursor: pointer;
    padding: 5px 6px;
}
.sorting.active{
    background: #E4E4E2;
    
    border-radius: 10px;
}
.admin-goods{
    font-size: 13px;
    position: absolute;
    top: 5px;
    right: 0;
    display: none;
}
.admin-goods.clone{
    position: absolute;
    right: 107px;
    display: none;
}
.admin-goods.new{
    
    position: absolute;
    right: 213px;
    display: none;
}
.admin-goods a {
   text-decoration: none;
}
/* Карточка товара */
.short-name{
    font-size: 20px;
    color: #047;
    margin: 0 0 10px 0px;
}
.long-name{
    padding: 0 0 15px 0;
    font-size: 13px;
    color: #808080;
}
.information .attributes{
    float: left;
    margin: 0 0 10px 30px;
    background-color: #F5F5F5;
    padding: 10px 15px;
    min-width: 360px;
    max-width: 50%;
}
.attribute-group{
    font-size: 14px;
    font-weight: bold;
    clear: both;
}
.attribute-name{
    float: left;
    width: 70%;
    line-height: 15px;
    background: url('images/dots.gif') repeat-x bottom right;
}
.attribute-name span{
    background: #F5F5F5;
    font-size: 12px;
}
.attribute-value{
    float: left;
    font-size: 12px;
    line-height: 21px;
}
.attribute-info{
    clear: both;
}
.information .description{
    clear: both;
    padding-top: 20px;
}
.small-image{
    float: left;
}
.small-image img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* Стили для формы поиска */
.filter-container label{
    display: block;
    margin: 0 0 5px 10px;
    height: 13px;
}
.filter-container input,select{
    width: 246px;
    margin: 0 0 10px 10px;
    background: #FFF;
    border: 1px solid #526C91;
}
.search-container{
    position: relative;
}
.search-result{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 249px;
    background: white;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border: 1px solid #a3b9d9;
    display: none;
    z-index: 10;
}
.finded-goods{
    list-style-type: none;
    margin: 10px;
    padding: 0;
}
.finded-item{
    cursor: pointer;
    
}
.finded-item li{
    padding: 3px;
}
.finded-item:hover li{
    background: beige;
}
.attributes-settings li{
    list-style-type:none;
}
.attributes-settings{
    padding: 0;
    margin: 5px 20px 5px 20px;
}
.attributes-settings li input{
    width: auto;
    margin: 5px;
}
.attributes-settings li label{
    height: auto;
    margin: 5px; 
    display: inline;
}
.filter-attributes-container{
    display: none;
    top: 34px;
    left: 10px;
}
.save-filter,.reset-filter{
    margin-top: 10px;
    background: #7F9DB9;
    color: #FFF;
    border: 1px solid #526C91;
    padding: 3px;
    border-radius: 5px;
}
.settings-button{
    border: 1px solid #526C91;
    background: #7F9DB9;
    color: #FFF;
    padding: 3px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}